{
  "openapi": "3.0.3",
  "info": {
    "title": "Pocketflows API",
    "version": "0.0.4"
  },
  "servers": [
    {
      "url": "https://api.pocketflows.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/rewards_programs": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `rewards_programs` property which is an array of `RewardsProgram` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rewards_programs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RewardsProgram"
                      },
                      "description": "An array of rewards programs"
                    }
                  },
                  "required": [
                    "rewards_programs"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all rewards programs"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "points_earned_per_dollar_spent": {
                    "type": "integer",
                    "description": "The number of points earned per dollar spent"
                  },
                  "point_redemption_value": {
                    "type": "string",
                    "description": "The value of a single point in dollars"
                  },
                  "points_for_member_class_attendance": {
                    "type": "integer",
                    "description": "The number of points earned for attending a class"
                  },
                  "points_for_referring_new_student": {
                    "type": "integer",
                    "description": "The number of points earned for referring a new student"
                  },
                  "points_for_referring_new_student_that_signs_up": {
                    "type": "integer",
                    "description": "The number of points earned for referring a new student that signs up"
                  },
                  "points_for_every_ten_classes_non_member": {
                    "type": "integer",
                    "description": "The number of points earned for every ten classes attended"
                  },
                  "points_for_first_visit_in_three_months": {
                    "type": "integer",
                    "description": "The number of points earned for first visit in three months"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `RewardsProgram` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsProgram"
                }
              }
            }
          }
        },
        "summary": "Create a rewards program"
      }
    },
    "/rewards_programs/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `RewardsProgram` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsProgram"
                }
              }
            }
          }
        },
        "summary": "Retrieve a rewards program"
      }
    },
    "/rewards_programs/{id}/members": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object with key `members` containing an array of `Member` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      },
                      "description": "An array of members"
                    }
                  },
                  "required": [
                    "members"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all members for a rewards program"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user to associate with the new member"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Member` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "summary": "Create a member"
      }
    },
    "/members/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the member",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `Member` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "summary": "Retrieve a member"
      }
    },
    "/locations/{id}/location_members": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing key `location_members` which is an array of `LocationMember` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "location_members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LocationMember"
                      },
                      "description": "An array of location members"
                    }
                  },
                  "required": [
                    "location_members"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all location members"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `LocationMember` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationMember"
                }
              }
            }
          }
        },
        "summary": "Create a new location member"
      }
    },
    "/location_members/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location member",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `LocationMember` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationMember"
                }
              }
            }
          }
        },
        "summary": "Retrieve a location member"
      }
    },
    "/rewards_programs/{id}/locations": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object with a `locations` key containing an array of `Location` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      },
                      "description": "An array of `Location` objects"
                    }
                  },
                  "required": [
                    "locations"
                  ]
                }
              }
            }
          }
        },
        "summary": "List the locations under a rewards program"
      }
    },
    "/locations": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `locations` property which is an array of `Location` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      },
                      "description": "An array of `Location` objects"
                    }
                  },
                  "required": [
                    "locations"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all locations"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rewards_program_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the location's rewards program"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Location` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "summary": "Create a location"
      }
    },
    "/locations/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Location` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "summary": "Retrieve a location"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Location` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "summary": "Update a location"
      }
    },
    "/rewards_programs/{id}/tiers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object with a `tiers` key which contains an array of `Tier` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tier"
                      },
                      "description": "An array of tiers"
                    }
                  },
                  "required": [
                    "tiers"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all tiers"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the tier"
                  },
                  "minimum_points": {
                    "type": "integer",
                    "description": "The minimum number of points to qualify for the tier"
                  },
                  "perks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Descriptions of all the perks associated with the tier"
                  }
                },
                "required": [
                  "name",
                  "minimum_points",
                  "perks"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Tier` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tier"
                }
              }
            }
          }
        },
        "summary": "Create a tier"
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `users` property which is an array of `User` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      },
                      "description": "An array of users"
                    }
                  },
                  "required": [
                    "users"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all users"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "The user's phone number"
                  }
                },
                "required": [
                  "phone_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `User` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "summary": "Create a user"
      }
    },
    "/users/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the user",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `User` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "summary": "Retrieve a user"
      }
    },
    "/businesses/{id}/track": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "The name of the event"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The data associated with the event"
                  }
                },
                "required": [
                  "event"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTTP status acknowledging the event was properly received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                  }
                }
              }
            }
          }
        },
        "summary": "Track an event occuring within a business"
      }
    },
    "/rewards_programs/{id}/flows": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `Flow` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        },
        "summary": "Create a flow"
      }
    },
    "/flows/{id}/embed": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the flow",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML content of the flow",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed a flow"
      }
    },
    "/flows/{id}/embed/analytics": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the flow",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML content of the flow analytics",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed an analytics flow"
      }
    },
    "/employees/{id}/emails": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `emails` property which is an array of `Email` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      },
                      "description": "An array of `Email` objects"
                    }
                  },
                  "required": [
                    "emails"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all an employee's emails"
      }
    },
    "/businesses": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `businesses` property which is an array of `Business` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businesses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "description": "An array of businesses"
                    }
                  },
                  "required": [
                    "businesses"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all businesses"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the business"
                  },
                  "metadata": {
                    "nullable": true,
                    "description": "Arbitrary metadata to associate with the business"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Create a business"
      }
    },
    "/businesses/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Retrieve a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The updated name of the business. Can be omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Update a business"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Delete a business"
      }
    },
    "/businesses/{id}/variables": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The variables for the business",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The variables for the business"
                    }
                  },
                  "required": [
                    "variables"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get all variables for a business"
      }
    },
    "/email_templates/{id}/variables": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The variables for the email template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The variables for the email template"
                    }
                  },
                  "required": [
                    "variables"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get all variables for an email template"
      }
    },
    "/businesses/{id}/customers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a `customers` property which is an array of `Customer` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "An array of customers"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all customers for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "email_address": {
                        "type": "string",
                        "description": "The email address of the customer"
                      },
                      "phone_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the customer"
                      },
                      "metadata": {
                        "nullable": true,
                        "description": "Any metadata to attach to the customer"
                      }
                    },
                    "required": [
                      "email_address"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number of the customer"
                      },
                      "email_address": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email address of the customer"
                      },
                      "metadata": {
                        "nullable": true,
                        "description": "Any metadata to attach to the customer"
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Create a customer"
      }
    },
    "/businesses/{id}/customers/batch": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customers": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "email_address": {
                              "type": "string",
                              "description": "The email address of the customer"
                            },
                            "phone_number": {
                              "type": "string",
                              "nullable": true,
                              "description": "The phone number of the customer"
                            },
                            "metadata": {
                              "nullable": true,
                              "description": "Any metadata to attach to the customer"
                            }
                          },
                          "required": [
                            "email_address"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "phone_number": {
                              "type": "string",
                              "description": "The phone number of the customer"
                            },
                            "email_address": {
                              "type": "string",
                              "nullable": true,
                              "description": "The email address of the customer"
                            },
                            "metadata": {
                              "nullable": true,
                              "description": "Any metadata to attach to the customer"
                            }
                          },
                          "required": [
                            "phone_number"
                          ]
                        }
                      ]
                    },
                    "description": "An array of customer data to create"
                  }
                },
                "required": [
                  "customers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of created `Customer` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "An array of created `Customer` objects"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create multiple customers"
      }
    },
    "/customers/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Retrieve a customer"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_address": {
                    "type": "string",
                    "nullable": true,
                    "description": "The email address of the customer"
                  },
                  "phone_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "The phone number of the customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Update a customer"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Delete a customer"
      }
    },
    "/customers/{id}/unsubscribe": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "campaign"
                        ],
                        "description": "The type of unsubscribe. `campaign` in this case indicates unsubscribing from a single campaign"
                      },
                      "campaign_id": {
                        "type": "string",
                        "description": "The ID of the campaign to unsubscribe from"
                      }
                    },
                    "required": [
                      "type",
                      "campaign_id"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "all"
                        ],
                        "description": "The type of unsubscribe. `all` in this case indicates unsubscribing from all campaigns"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "future"
                        ],
                        "description": "The type of unsubscribe. `future` in this case indicates unsubscribing from all current and future campaigns"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The `Customer` object which was unsubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe a customer from campaigns"
      }
    },
    "/businesses/{id}/segments": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `segments` property which is an array of `Segment` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Segment"
                      },
                      "description": "An array of segments"
                    }
                  },
                  "required": [
                    "segments"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all the business's segments"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the segment"
                  },
                  "customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of customer IDs to include in this segment"
                  }
                },
                "required": [
                  "name",
                  "customers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Create a segment"
      }
    },
    "/segments/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Retrieve a segment"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Delete a segment"
      }
    },
    "/segments/{id}/customers": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "The ID of the customer to add to the segment"
                  }
                },
                "required": [
                  "customer"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Add a customer to a segment"
      }
    },
    "/segments/{id}/customers/{customer_id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          },
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer to remove from the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Remove a customer from a segment"
      }
    },
    "/customers/{id}/unsubscribe_embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer that's unsubscribing",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `UnsubscribeEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an unsubscribe embed"
      }
    },
    "/unsubscribe_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the unsubscribe embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `UnsubscribeEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve an unsubscribe embed"
      }
    },
    "/unsubscribe_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the unsubscribe embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML that will render a UI for unsubscribing from a campaign",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed the unsubscribe form"
      }
    },
    "/businesses/{id}/employees": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `employees` property which is an array of `Employee` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "employees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      },
                      "description": "An array of `Employee` objects"
                    }
                  },
                  "required": [
                    "employees"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all employees for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number of the employee"
                      },
                      "email_address": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email address of the employee"
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "email_address": {
                        "type": "string",
                        "description": "The email address of the employee"
                      },
                      "phone_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the employee"
                      }
                    },
                    "required": [
                      "email_address"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Create an employee"
      }
    },
    "/employees/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Retrieve an employee"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "The phone number of the employee"
                  },
                  "email_address": {
                    "type": "string",
                    "nullable": true,
                    "description": "The email of the employee"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Update an employee"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Delete an employee"
      }
    },
    "/businesses/{id}/email_templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          },
          {
            "in": "query",
            "name": "include_project_email_templates",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            },
            "description": "Whether to include project email templates in the list of business's email templates",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `email_templates` property which is an array of `EmailTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailTemplate"
                      },
                      "description": "An array of email templates"
                    }
                  },
                  "required": [
                    "email_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all email templates for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "body": {
                        "type": "string",
                        "description": "The plain text of the email. Mutually exclusive with rich text emails"
                      },
                      "template_json": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          null
                        ],
                        "description": "Must be null or omitted"
                      },
                      "template_html": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          null
                        ],
                        "description": "Must be null or omitted"
                      }
                    },
                    "required": [
                      "name",
                      "subject",
                      "body"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "body": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          null
                        ],
                        "description": "Must be null or omitted"
                      },
                      "template_json": {
                        "description": "The JSON representing the rich text email template. Mutually exclusive with plain text email templates"
                      },
                      "template_html": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          null
                        ],
                        "description": "Must be null or omitted"
                      }
                    },
                    "required": [
                      "name",
                      "subject",
                      "template_json"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      }
                    },
                    "required": [
                      "name",
                      "subject"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create an email template"
      }
    },
    "/businesses/{id}/email_templates/ai": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "A description of the content that you'd like to include the email template"
                  }
                },
                "required": [
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An `EmailTemplate` object generated by AI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create a new email template using AI"
      }
    },
    "/email_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve an email template"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the email template"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "body": {
                    "type": "string",
                    "description": "The plaintext version of the body of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        }
                      ]
                    },
                    "description": "An array of existing attachment IDs or new attachments that will always be sent with this template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Update an email template"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Delete an email template"
      }
    },
    "/email_templates/{id}/preview.png": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The image of the compiled email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an email template as an image",
        "security": [

        ]
      }
    },
    "/email_templates/{id}/preview": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The HTML of the compiled email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an email template",
        "security": [

        ]
      }
    },
    "/email_templates/{id}/copy": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create a copy of an existing email template"
      }
    },
    "/email_templates/{id}/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an email template embed to edit an existing email template"
      }
    },
    "/businesses/{id}/email_templates/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an email template embed to create a brand new email template"
      }
    },
    "/email_template_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve an email template embed"
      }
    },
    "/email_template_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template embed",
            "required": true
          },
          {
            "in": "query",
            "name": "hide_top_bar",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the top bar when embedding the email template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_buttons",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the \"Save\" and \"Send Test Email\" buttons when embedding the email template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_save_button",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the \"Save\" button when embedding the email template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_send_test_email_button",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the \"Send Test Email\" button when embedding the email template editor",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML that will render a UI for editing the email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed the email template editor",
        "security": [

        ]
      }
    },
    "/project_email_templates": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `project_email_templates` property which is an array of `ProjectEmailTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_email_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectEmailTemplate"
                      },
                      "description": "An array of project email templates"
                    }
                  },
                  "required": [
                    "project_email_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project email templates"
      }
    },
    "/project_email_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `ProjectEmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project email template"
      }
    },
    "/project_email_templates/{id}/copy": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template to copy",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business": {
                    "type": "string",
                    "description": "The ID of the business to copy the project email template into"
                  }
                },
                "required": [
                  "business"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Copy a project email template into a specific business"
      }
    },
    "/email_templates/{id}/draft_send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "The ID of the email address to send from"
                  },
                  "to": {
                    "type": "string",
                    "description": "The email address to send to"
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Variables to use in the email template"
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `DraftEmail` representing what would have been sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftEmail"
                }
              }
            }
          }
        },
        "summary": "Draft send an email based off an email template"
      }
    },
    "/email_templates/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "The ID of the email address from which to send the email"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments to include with the email"
                      },
                      "to": {
                        "type": "string",
                        "description": "The email address to send the email to"
                      },
                      "variables": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The variables to be injected into the email template"
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "The ID of the email address from which to send the email"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments to include with the email"
                      },
                      "customer": {
                        "type": "string",
                        "description": "The ID of the customer to send the email to"
                      },
                      "variables": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The variables to be injected into the email template in addition to the variables already induced by the customer"
                      }
                    },
                    "required": [
                      "from",
                      "customer"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email that was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          }
        },
        "summary": "Send an email based off an email template"
      }
    },
    "/email_addresses/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "The email address to send the email to"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body of the email"
                  }
                },
                "required": [
                  "to",
                  "subject",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sent `Email` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          }
        },
        "summary": "Send an email"
      }
    },
    "/project_email_addresses/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email address",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "The email address to send the email to"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body of the email"
                  }
                },
                "required": [
                  "to",
                  "subject",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sent `Email` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          }
        },
        "summary": "Send an email from a project email address"
      }
    },
    "/businesses/{id}/sms_templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `sms_templates` property which is an array of `SMSTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sms_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SMSTemplate"
                      },
                      "description": "An array of SMS templates"
                    }
                  },
                  "required": [
                    "sms_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all SMS templates for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the SMS template"
                  },
                  "message": {
                    "type": "string",
                    "description": "The message of the SMS template. Variables are supported via `{{ variableName }}`"
                  }
                },
                "required": [
                  "name",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Create an SMS template"
      }
    },
    "/sms_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve an SMS template"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the SMS template"
                  },
                  "message": {
                    "type": "string",
                    "description": "The message of the SMS template. Variables are supported via `{{ variableName }}`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Update an SMS template"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Delete an SMS template"
      }
    },
    "/sms_templates/{id}/preview.png": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The image of the compiled SMS template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an SMS template as an image",
        "security": [

        ]
      }
    },
    "/sms_templates/{id}/preview": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML preview of the SMS template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an SMS template",
        "security": [

        ]
      }
    },
    "/sms_templates/{id}/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `SmsTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an SMS template embed to edit an existing SMS template"
      }
    },
    "/businesses/{id}/sms_templates/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an SMS template embed to create a brand new SMS template"
      }
    },
    "/sms_template_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `SmsTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve an SMS template embed"
      }
    },
    "/sms_template_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template embed",
            "required": true
          },
          {
            "in": "query",
            "name": "hide_top_bar",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the top bar when embedding the SMS template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_buttons",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide all buttons when embedding the SMS template editor",
            "required": false
          },
          {
[...]
