{
  "openapi": "3.0.3",
  "info": {
    "title": "Pocketflows API",
    "version": "0.0.4"
  },
  "servers": [
    {
      "url": "https://api.pocketflows.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/available_steps": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `steps` property which are the available steps for the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of the step"
                          },
                          "display_text": {
                            "type": "string",
                            "description": "The displayable name of the step"
                          }
                        },
                        "required": [
                          "type",
                          "display_text"
                        ]
                      },
                      "description": "An array of steps"
                    }
                  },
                  "required": [
                    "steps"
                  ]
                }
              }
            }
          }
        },
        "summary": "List the available steps for a project",
        "tags": [
          "Projects"
        ]
      }
    },
    "/project": {
      "get": {
        "responses": {
          "200": {
            "description": "A `Project` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project",
        "tags": [
          "Projects"
        ]
      }
    },
    "/businesses/{id}/segment_usage": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          },
          {
            "in": "query",
            "name": "start_time",
            "schema": {
              "type": "string"
            },
            "description": "The start time of the usage period. Provided as a string in ISO 8601 format.",
            "required": false
          },
          {
            "in": "query",
            "name": "end_time",
            "schema": {
              "type": "string"
            },
            "description": "The end time of the usage period. Provided as a string in ISO 8601 format.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The segment usage for the business within the time window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sms": {
                      "type": "integer",
                      "description": "The number of SMS segments sent"
                    },
                    "mms": {
                      "type": "integer",
                      "description": "The number of MMS segments sent"
                    },
                    "email": {
                      "type": "integer",
                      "description": "The number of email segments sent"
                    },
                    "start_time": {
                      "type": "string",
                      "description": "The start time of the usage period in ISO 8601 format"
                    },
                    "end_time": {
                      "type": "string",
                      "description": "The end time of the usage period in ISO 8601 format"
                    }
                  },
                  "required": [
                    "sms",
                    "mms",
                    "email",
                    "start_time",
                    "end_time"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve the segment usage for a business",
        "tags": [
          "Segment usage"
        ]
      }
    },
    "/project_defined_events": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "The event name. Likely takes the form `customer.created` or similar"
                  },
                  "display_text": {
                    "type": "string",
                    "description": "The human-readable text for this event. Should grammatically follow \"When...\" e.g. \"a customer is created\""
                  }
                },
                "required": [
                  "event",
                  "display_text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `ProjectDefinedEvent` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDefinedEvent"
                }
              }
            }
          }
        },
        "summary": "Create a project defined event",
        "tags": [
          "Project defined events"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "A list of `ProjectDefinedEvent` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_defined_events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectDefinedEvent"
                      },
                      "description": "An array of `ProjectDefinedEvent` objects"
                    }
                  },
                  "required": [
                    "project_defined_events"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project-defined events",
        "tags": [
          "Project defined events"
        ]
      }
    },
    "/project_defined_events/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the `ProjectDefinedEvent` object",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `ProjectDefinedEvent` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDefinedEvent"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project-defined event",
        "tags": [
          "Project defined events"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project defined event",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_text": {
                    "type": "string",
                    "description": "The human-readable text for this event. Should grammatically follow \"When...\" e.g. \"a customer is created\""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `ProjectDefinedEvent` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDefinedEvent"
                }
              }
            }
          }
        },
        "summary": "Update a project defined event",
        "tags": [
          "Project defined events"
        ]
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the `ProjectDefinedEvent` object",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `ProjectDefinedEvent` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDefinedEvent"
                }
              }
            }
          }
        },
        "summary": "Delete a project-defined event",
        "tags": [
          "Project defined events"
        ]
      }
    },
    "/project_defined_events/{id}/filter_types": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project defined event",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list of filter types associated with the project-defined event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filter_types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variable_name": {
                            "type": "string",
                            "description": "The name of the variable"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "string",
                              "number",
                              "boolean",
                              "array",
                              "null"
                            ],
                            "description": "The type of the variable"
                          }
                        },
                        "required": [
                          "variable_name",
                          "type"
                        ]
                      },
                      "description": "An array of filter types"
                    }
                  },
                  "required": [
                    "filter_types"
                  ]
                }
              }
            }
          }
        },
        "summary": "List the types of all variables associated with the project-defined event",
        "tags": [
          "Project defined events"
        ]
      }
    },
    "/businesses/{id}/track": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "The name of the event"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The data associated with the event"
                  }
                },
                "required": [
                  "event"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTTP status acknowledging the event was properly received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "summary": "Track an event occuring within a business",
        "tags": [
          "Events"
        ]
      }
    },
    "/businesses": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `businesses` property which is an array of `Business` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businesses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "description": "An array of businesses"
                    }
                  },
                  "required": [
                    "businesses"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all businesses",
        "tags": [
          "Businesses"
        ]
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the business"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "Arbitrary metadata to associate with the business"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Create a business",
        "tags": [
          "Businesses"
        ]
      }
    },
    "/businesses/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Retrieve a business",
        "tags": [
          "Businesses"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The updated name of the business. Can be omitted"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "Arbitrary metadata to associate with the business"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Update a business",
        "tags": [
          "Businesses"
        ]
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Delete a business",
        "tags": [
          "Businesses"
        ]
      }
    },
    "/businesses/{id}/variables": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The variables for the business",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The variables for the business"
                    }
                  },
                  "required": [
                    "variables"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get all variables for a business",
        "tags": [
          "Variables"
        ]
      }
    },
    "/email_templates/{id}/variables": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The variables for the email template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The variables for the email template"
                    }
                  },
                  "required": [
                    "variables"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get all variables for an email template",
        "tags": [
          "Variables"
        ]
      }
    },
    "/sms_templates/{id}/variables": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The variables for the SMS template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The variables for the SMS template"
                    }
                  },
                  "required": [
                    "variables"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get all variables for an SMS template",
        "tags": [
          "Variables"
        ]
      }
    },
    "/businesses/{id}/customers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          },
          {
            "in": "query",
            "name": "email_address",
            "schema": {
              "type": "string"
            },
            "description": "The email address to filter on",
            "required": false
          },
          {
            "in": "query",
            "name": "phone_number",
            "schema": {
              "type": "string"
            },
            "description": "The phone number to filter on",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a `customers` property which is an array of `Customer` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "An array of customers"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all customers for a business",
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "email_address": {
                        "type": "string",
                        "description": "The email address of the customer"
                      },
                      "phone_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the customer"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true,
                        "description": "Any metadata to attach to the customer"
                      }
                    },
                    "required": [
                      "email_address"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number of the customer"
                      },
                      "email_address": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email address of the customer"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true,
                        "description": "Any metadata to attach to the customer"
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ]
      }
    },
    "/businesses/{id}/customers/batch": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customers": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "email_address": {
                              "type": "string",
                              "description": "The email address of the customer"
                            },
                            "phone_number": {
                              "type": "string",
                              "nullable": true,
                              "description": "The phone number of the customer"
                            },
                            "metadata": {
                              "type": "object",
                              "additionalProperties": true,
                              "nullable": true,
                              "description": "Any metadata to attach to the customer"
                            }
                          },
                          "required": [
                            "email_address"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "phone_number": {
                              "type": "string",
                              "description": "The phone number of the customer"
                            },
                            "email_address": {
                              "type": "string",
                              "nullable": true,
                              "description": "The email address of the customer"
                            },
                            "metadata": {
                              "type": "object",
                              "additionalProperties": true,
                              "nullable": true,
                              "description": "Any metadata to attach to the customer"
                            }
                          },
                          "required": [
                            "phone_number"
                          ]
                        }
                      ]
                    },
                    "description": "An array of customer data to create"
                  }
                },
                "required": [
                  "customers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of created `Customer` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "An array of created `Customer` objects"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create multiple customers",
        "tags": [
          "Customers"
        ]
      }
    },
    "/businesses/{id}/customers/batch_update": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the customer"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true,
                          "description": "The updated phone number of the customer"
                        },
                        "email_address": {
                          "type": "string",
                          "nullable": true,
                          "description": "The updated email address of the customer"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": true,
                          "nullable": true,
                          "description": "The updated metadata of the customer"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "description": "An array of customer data to update. Must identify every customer with their ID"
                  }
                },
                "required": [
                  "customers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of updated `Customer` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "An array of updated `Customer` objects"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "Update multiple customers",
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Retrieve a customer",
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_address": {
                    "type": "string",
                    "nullable": true,
                    "description": "The email address of the customer"
                  },
                  "phone_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "The phone number of the customer"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "The metadata of the customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ]
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Delete a customer",
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{id}/unsubscribe": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "campaign"
                        ],
                        "description": "The type of unsubscribe. `campaign` in this case indicates unsubscribing from a single campaign"
                      },
                      "campaign_id": {
                        "type": "string",
                        "description": "The ID of the campaign to unsubscribe from"
                      }
                    },
                    "required": [
                      "type",
                      "campaign_id"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "trigger"
                        ],
                        "description": "The type of unsubscribe. `trigger` in this case indicates unsubscribing from a single trigger"
                      },
                      "trigger_id": {
                        "type": "string",
                        "description": "The ID of the trigger to unsubscribe from"
                      }
                    },
                    "required": [
                      "type",
                      "trigger_id"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "all"
                        ],
                        "description": "The type of unsubscribe. `all` in this case indicates unsubscribing from all campaigns"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "future"
                        ],
                        "description": "The type of unsubscribe. `future` in this case indicates unsubscribing from all current and future campaigns"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The `Customer` object which was unsubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe a customer from campaigns and triggers",
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{id}/unsubscribe_info": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The marketing resources the customer has opted out of",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unsubscribed_campaigns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The campaigns the customer has unsubscribed from"
                    },
                    "unsubscribed_triggers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The triggers the customer has unsubscribed from"
                    },
                    "unsubscribed_from_all": {
                      "type": "boolean",
                      "description": "Whether the customer has opted out of all marketing"
                    }
                  },
                  "required": [
                    "unsubscribed_campaigns",
                    "unsubscribed_triggers",
                    "unsubscribed_from_all"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve unsubscribe info for a customer",
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{id}/resubscribe": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "campaign"
                        ],
                        "description": "The type of resubscribe. `campaign` in this case indicates resubscribing to a single campaign"
                      },
                      "campaign_id": {
                        "type": "string",
                        "description": "The ID of the campaign to resubscribe to"
                      }
                    },
                    "required": [
                      "type",
                      "campaign_id"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "trigger"
                        ],
                        "description": "The type of resubscribe. `trigger` in this case indicates resubscribing to a single trigger"
                      },
                      "trigger_id": {
                        "type": "string",
                        "description": "The ID of the trigger to resubscribe to"
                      }
                    },
                    "required": [
                      "type",
                      "trigger_id"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "future"
                        ],
                        "description": "The type of resubscribe. `future` in this case indicates resubscribing to future campaigns. Does not resubscribe the customer to any existing campaigns or triggers"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The `Customer` object which was resubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Resubscribe a customer to campaigns and triggers",
        "tags": [
          "Customers"
        ]
      }
    },
    "/customers/{id}/segments": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The segments the customer belongs to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Segment"
                      },
                      "description": "The segments the customer belongs to"
                    }
                  },
                  "required": [
                    "segments"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve the segments a customer belongs to",
        "tags": [
          "Customers"
        ]
      }
    },
    "/businesses/{id}/segments": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a `segments` property which is an array of `Segment` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Segment"
                      },
                      "description": "An array of segments"
                    }
                  },
                  "required": [
                    "segments"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all the business's segments",
        "tags": [
          "Segments"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the segment"
                  },
                  "static_customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of customer IDs to always include in this segment"
                  },
                  "customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of customer IDs to include in this segment"
                  },
                  "filter": {
                    "type": "string",
                    "nullable": true,
                    "description": "The filter for this segment"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Create a segment",
        "tags": [
          "Segments"
        ]
      }
    },
    "/segments/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Retrieve a segment",
        "tags": [
          "Segments"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the segment"
                  },
                  "static_customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of customer IDs to always include in this segment"
                  },
                  "customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of customer IDs to include in this segment"
                  },
                  "filter": {
                    "type": "string",
                    "nullable": true,
                    "description": "The filter for this segment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Update a segment",
        "tags": [
          "Segments"
        ]
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Delete a segment",
        "tags": [
          "Segments"
        ]
      }
    },
    "/segments/{id}/customers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The customers in the segment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "The customers in the segment"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "Show the customers in a segment",
        "tags": [
          "Segments"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "The ID of the customer to add to the segment"
                  }
                },
                "required": [
                  "customer"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Add a customer to a segment",
        "tags": [
          "Segments"
        ]
      }
    },
    "/segments/{id}/customers/{customer_id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the segment",
            "required": true
          },
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer to remove from the segment",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Segment` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          }
        },
        "summary": "Remove a customer from a segment",
        "tags": [
          "Segments"
        ]
      }
    },
    "/customers/{id}/unsubscribe_embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer that's unsubscribing",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `UnsubscribeEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an unsubscribe embed",
        "tags": [
          "Unsubscribe embeds"
        ]
      }
    },
    "/unsubscribe_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the unsubscribe embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `UnsubscribeEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve an unsubscribe embed",
        "tags": [
          "Unsubscribe embeds"
        ]
      }
    },
    "/unsubscribe_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the unsubscribe embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML that will render a UI for unsubscribing from a campaign",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed the unsubscribe form",
        "tags": [
          "Unsubscribe embeds"
        ]
      }
    },
    "/businesses/{id}/email_templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          },
          {
            "in": "query",
            "name": "include_project_email_templates",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            },
            "description": "Whether to include project email templates in the list of business's email templates",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `email_templates` property which is an array of `EmailTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailTemplate"
                      },
                      "description": "An array of email templates"
                    }
                  },
                  "required": [
                    "email_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all email templates for a business",
        "tags": [
          "Email templates"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "one_off": {
                        "type": "boolean",
                        "description": "Whether this is a one off email template"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The metadata of the email template"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "plaintext"
                        ],
                        "description": "The kind of the email template"
                      },
                      "body": {
                        "type": "string",
                        "description": "The plain text of the email. Mutually exclusive with rich text emails"
                      }
                    },
                    "required": [
                      "name",
                      "subject",
                      "body"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "one_off": {
                        "type": "boolean",
                        "description": "Whether this is a one off email template"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The metadata of the email template"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "editor",
                          "old_editor"
                        ],
                        "description": "The kind of the email template"
                      },
                      "template_json": {
                        "description": "The JSON representing the email template. Mutually exclusive with plain text email templates"
                      }
                    },
                    "required": [
                      "name",
                      "subject",
                      "template_json"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "one_off": {
                        "type": "boolean",
                        "description": "Whether this is a one off email template"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The metadata of the email template"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "unlayer"
                        ],
                        "description": "The kind of the email template"
                      }
                    },
                    "required": [
                      "name",
                      "subject"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "one_off": {
                        "type": "boolean",
                        "description": "Whether this is a one off email template"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The metadata of the email template"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "unlayer"
                        ],
                        "description": "The kind of the email template"
                      },
                      "new_template_json": {
                        "description": "The JSON representing the rich text email template"
                      },
                      "new_template_html": {
                        "type": "string",
                        "description": "The HTML representation of the rich text email template"
                      }
                    },
                    "required": [
                      "name",
                      "subject",
                      "new_template_json",
                      "new_template_html"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the email template"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments that will always be sent with this template"
                      },
                      "one_off": {
                        "type": "boolean",
                        "description": "Whether this is a one off email template"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The metadata of the email template"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "html"
                        ],
                        "description": "The kind of the email template"
                      },
                      "template_html": {
                        "type": "string",
                        "description": "The HTML representing the email template"
                      }
                    },
                    "required": [
                      "name",
                      "subject",
                      "template_html"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create an email template",
        "tags": [
          "Email templates"
        ]
      }
    },
    "/businesses/{id}/email_templates/ai": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "A description of the content that you'd like to include the email template"
                  }
                },
                "required": [
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An `EmailTemplate` object generated by AI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create a new email template using AI",
        "tags": [
          "Email templates"
        ]
      }
    },
    "/email_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve an email template",
        "tags": [
          "Email templates"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the email template"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "body": {
                    "type": "string",
                    "description": "The plaintext version of the body of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "template_html": {
                    "type": "string",
                    "description": "The HTML representation of the email template. Mutually exclusive with plain text email templates."
                  },
                  "template_json": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The JSON representation of the email template. This will override the `name`, `subject`, and `body` properties"
                  },
                  "new_template_json": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The JSON representing the rich text email template. Mutually exclusive with plain text email templates"
                  },
                  "new_template_html": {
                    "type": "string",
                    "description": "The HTML representation of the rich text email template. Mutually exclusive with plain text email templates"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        }
                      ]
                    },
                    "description": "An array of existing attachment IDs or new attachments that will always be sent with this template"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "unlayer",
                      "editor",
                      "old_editor",
                      "html",
                      "plaintext"
                    ],
                    "description": "The kind of the email template"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The metadata for the email template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Update an email template",
        "tags": [
          "Email templates"
        ]
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Delete an email template",
        "tags": [
          "Email templates"
        ]
      }
    },
    "/email_templates/{id}/preview.png": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The image of the compiled email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an email template as an image",
        "security": [],
        "tags": [
          "Email templates"
        ]
      }
    },
    "/email_templates/{id}/preview": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The HTML of the compiled email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an email template",
        "security": [],
        "tags": [
          "Email templates"
        ]
      }
    },
    "/email_templates/{id}/copy": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create a copy of an existing email template",
        "tags": [
          "Email templates"
        ]
      }
    },
    "/email_templates/{id}/copy_one_off": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template to copy",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The copied `EmailTemplate` object. As a one-off, it will not be return from `GET /businesses/:id/email_templates`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Copy an email template as a one-off",
        "tags": [
          "Email templates"
        ]
      }
    },
    "/email_templates/{id}/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expires_in": {
                    "type": "number",
                    "description": "The number of seconds until the embed will expire"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an email template embed to edit an existing email template",
        "tags": [
          "Email template embeds"
        ]
      }
    },
    "/businesses/{id}/email_templates/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expires_in": {
                    "type": "number",
                    "description": "The number of seconds until the embed will expire"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an email template embed to create a brand new email template",
        "tags": [
          "Email template embeds"
        ]
      }
    },
    "/email_template_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve an email template embed",
        "tags": [
          "Email template embeds"
        ]
      }
    },
    "/email_template_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template embed",
            "required": true
          },
          {
            "in": "query",
            "name": "hide_top_bar",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the top bar when embedding the email template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_buttons",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the \"Save\" and \"Send Test Email\" buttons when embedding the email template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_save_button",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the \"Save\" button when embedding the email template editor",
            "required": false
          },
          {
            "in": "query",
            "name": "hide_send_test_email_button",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to hide the \"Send Test Email\" button when embedding the email template editor",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML that will render a UI for editing the email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed the email template editor",
        "security": [],
        "tags": [
          "Email template embeds"
        ]
      }
    },
    "/project_email_templates": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `project_email_templates` property which is an array of `ProjectEmailTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_email_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectEmailTemplate"
                      },
                      "description": "An array of project email templates"
                    }
                  },
                  "required": [
                    "project_email_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project email templates",
        "tags": [
          "Project email templates"
        ]
      }
    },
    "/project_email_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `ProjectEmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project email template",
        "tags": [
          "Project email templates"
        ]
      }
    },
    "/project_email_templates/{id}/preview.png": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The image of the compiled project email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview a project email template as an image",
        "security": [],
        "tags": [
          "Project email templates"
        ]
      }
    },
    "/project_email_templates/{id}/preview": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The HTML of the compiled project email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview a project email template",
        "security": [],
        "tags": [
          "Project email templates"
        ]
      }
    },
    "/project_email_templates/{id}/copy": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template to copy",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business": {
                    "type": "string",
                    "description": "The ID of the business to copy the project email template into"
                  }
                },
                "required": [
                  "business"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Copy a project email template into a specific business",
        "tags": [
          "Project email templates"
        ]
      }
    },
    "/project_email_templates/{id}/copy_one_off": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email template to copy",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business": {
                    "type": "string",
                    "description": "The ID of the business to copy the project email template into"
                  }
                },
                "required": [
                  "business"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Copy a project email template into a specific business as a one-off template",
        "tags": [
          "Project email templates"
        ]
      }
    },
    "/email_templates/{id}/draft_send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "The ID of the email address to send from"
                  },
                  "to": {
                    "type": "string",
                    "description": "The email address to send to"
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Variables to use in the email template"
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `DraftEmail` representing what would have been sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftEmail"
                }
              }
            }
          }
        },
        "summary": "Draft send an email based off an email template",
        "tags": [
          "Emails"
        ]
      }
    },
    "/email_templates/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "The ID of the email address from which to send the email"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                            },
                            "name": {
                              "type": "string",
                              "description": "The intended name of the attachment"
                            }
                          },
                          "required": [
                            "content",
                            "name"
                          ]
                        },
                        "description": "An array of attachments to include with the email"
                      },
                      "to": {
                        "type": "string",
                        "description": "The email address to send the email to"
                      },
                      "variables": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "The variables to be injected into the email template"
                      }
[...]
