{
  "openapi": "3.0.3",
  "info": {
    "title": "Pocketflows API",
    "version": "0.0.4"
  },
  "servers": [
    {
      "url": "https://api.pocketflows.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/rewards_programs": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `rewards_programs` property which is an array of `RewardsProgram` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rewards_programs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RewardsProgram"
                      },
                      "description": "An array of rewards programs"
                    }
                  },
                  "required": [
                    "rewards_programs"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all rewards programs"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "points_earned_per_dollar_spent": {
                    "type": "integer",
                    "description": "The number of points earned per dollar spent"
                  },
                  "point_redemption_value": {
                    "type": "string",
                    "description": "The value of a single point in dollars"
                  },
                  "points_for_member_class_attendance": {
                    "type": "integer",
                    "description": "The number of points earned for attending a class"
                  },
                  "points_for_referring_new_student": {
                    "type": "integer",
                    "description": "The number of points earned for referring a new student"
                  },
                  "points_for_referring_new_student_that_signs_up": {
                    "type": "integer",
                    "description": "The number of points earned for referring a new student that signs up"
                  },
                  "points_for_every_ten_classes_non_member": {
                    "type": "integer",
                    "description": "The number of points earned for every ten classes attended"
                  },
                  "points_for_first_visit_in_three_months": {
                    "type": "integer",
                    "description": "The number of points earned for first visit in three months"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `RewardsProgram` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsProgram"
                }
              }
            }
          }
        },
        "summary": "Create a rewards program"
      }
    },
    "/rewards_programs/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `RewardsProgram` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsProgram"
                }
              }
            }
          }
        },
        "summary": "Retrieve a rewards program"
      }
    },
    "/rewards_programs/{id}/members": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object with key `members` containing an array of `Member` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      },
                      "description": "An array of members"
                    }
                  },
                  "required": [
                    "members"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all members for a rewards program"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user to associate with the new member"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Member` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "summary": "Create a member"
      }
    },
    "/members/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the member",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `Member` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "summary": "Retrieve a member"
      }
    },
    "/locations/{id}/location_members": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing key `location_members` which is an array of `LocationMember` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "location_members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LocationMember"
                      },
                      "description": "An array of location members"
                    }
                  },
                  "required": [
                    "location_members"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all location members"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `LocationMember` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationMember"
                }
              }
            }
          }
        },
        "summary": "Create a new location member"
      }
    },
    "/location_members/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location member",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `LocationMember` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationMember"
                }
              }
            }
          }
        },
        "summary": "Retrieve a location member"
      }
    },
    "/rewards_programs/{id}/locations": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object with a `locations` key containing an array of `Location` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      },
                      "description": "An array of `Location` objects"
                    }
                  },
                  "required": [
                    "locations"
                  ]
                }
              }
            }
          }
        },
        "summary": "List the locations under a rewards program"
      }
    },
    "/locations": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `locations` property which is an array of `Location` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      },
                      "description": "An array of `Location` objects"
                    }
                  },
                  "required": [
                    "locations"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all locations"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rewards_program_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the location's rewards program"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Location` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "summary": "Create a location"
      }
    },
    "/locations/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Location` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "summary": "Retrieve a location"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the location",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The updated `Location` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        },
        "summary": "Update a location"
      }
    },
    "/rewards_programs/{id}/tiers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An object with a `tiers` key which contains an array of `Tier` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tier"
                      },
                      "description": "An array of tiers"
                    }
                  },
                  "required": [
                    "tiers"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all tiers"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the tier"
                  },
                  "minimum_points": {
                    "type": "integer",
                    "description": "The minimum number of points to qualify for the tier"
                  },
                  "perks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Descriptions of all the perks associated with the tier"
                  }
                },
                "required": [
                  "name",
                  "minimum_points",
                  "perks"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Tier` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tier"
                }
              }
            }
          }
        },
        "summary": "Create a tier"
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `users` property which is an array of `User` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      },
                      "description": "An array of users"
                    }
                  },
                  "required": [
                    "users"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all users"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "The user's phone number"
                  }
                },
                "required": [
                  "phone_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `User` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "summary": "Create a user"
      }
    },
    "/users/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the user",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `User` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "summary": "Retrieve a user"
      }
    },
    "/track": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "The name of the event"
                  },
                  "member_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the member doing the event"
                  },
                  "location_member_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the location member the event"
                  },
                  "rewards_program_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the rewards program the event belongs to"
                  },
                  "location_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the location the event belongs to"
                  },
                  "user_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The ID of the user doing the event"
                  },
                  "price": {
                    "type": "string",
                    "nullable": true,
                    "description": "The price of the item involved in the event"
                  },
                  "points": {
                    "type": "integer",
                    "nullable": true,
                    "description": "The number of points earned for the event"
                  }
                },
                "required": [
                  "event",
                  "member_id",
                  "location_member_id",
                  "rewards_program_id",
                  "location_id",
                  "user_id",
                  "price",
                  "points"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Event` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        },
        "summary": "Track an event"
      }
    },
    "/rewards_programs/{id}/flows": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the rewards program",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `Flow` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        },
        "summary": "Create a flow"
      }
    },
    "/flows/{id}/embed": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the flow",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML content of the flow",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed a flow"
      }
    },
    "/flows/{id}/embed/analytics": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the flow",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML content of the flow analytics",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed an analytics flow"
      }
    },
    "/employees/{id}/emails": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `emails` property which is an array of `Email` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      },
                      "description": "An array of `Email` objects"
                    }
                  },
                  "required": [
                    "emails"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all an employee's emails"
      }
    },
    "/businesses": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `businesses` property which is an array of `Business` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "businesses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "description": "An array of businesses"
                    }
                  },
                  "required": [
                    "businesses"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all businesses"
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the business"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Create a business"
      }
    },
    "/businesses/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Retrieve a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The updated name of the business. Can be omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Update a business"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Business` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          }
        },
        "summary": "Delete a business"
      }
    },
    "/businesses/{id}/customers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a `customers` property which is an array of `Customer` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "description": "An array of customers"
                    }
                  },
                  "required": [
                    "customers"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all customers for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "email_address": {
                        "type": "string",
                        "description": "The email address of the customer"
                      },
                      "phone_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the customer"
                      }
                    },
                    "required": [
                      "email_address"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number of the customer"
                      },
                      "email_address": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email address of the customer"
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Create a customer"
      }
    },
    "/customers/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Retrieve a customer"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_address": {
                    "type": "string",
                    "nullable": true,
                    "description": "The email address of the customer"
                  },
                  "phone_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "The phone number of the customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Update a customer"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Customer` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "summary": "Delete a customer"
      }
    },
    "/businesses/{id}/employees": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `employees` property which is an array of `Employee` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "employees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      },
                      "description": "An array of `Employee` objects"
                    }
                  },
                  "required": [
                    "employees"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all employees for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number of the employee"
                      },
                      "email_address": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email address of the employee"
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "email_address": {
                        "type": "string",
                        "description": "The email address of the employee"
                      },
                      "phone_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the employee"
                      }
                    },
                    "required": [
                      "email_address"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Create an employee"
      }
    },
    "/employees/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Retrieve an employee"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "The phone number of the employee"
                  },
                  "email_address": {
                    "type": "string",
                    "nullable": true,
                    "description": "The email of the employee"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Update an employee"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Employee` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "summary": "Delete an employee"
      }
    },
    "/businesses/{id}/email_templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `email_templates` property which is an array of `EmailTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailTemplate"
                      },
                      "description": "An array of email templates"
                    }
                  },
                  "required": [
                    "email_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all email templates for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the email template"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "body": {
                    "type": "string",
                    "description": "The plaintext version of the body of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "template_html": {
                    "type": "string",
                    "description": "The HTML version of the body of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "template_json": {
                    "description": "The JSON representing the email template"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create an email template"
      }
    },
    "/email_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve an email template"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the email template"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email template. Variables are supported via `{{ variableName }}`"
                  },
                  "body": {
                    "type": "string",
                    "description": "The plaintext version of the body of the email template. Variables are supported via `{{ variableName }}`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Update an email template"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Delete an email template"
      }
    },
    "/email_templates/{id}/preview": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The HTML of the compiled email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Preview an email template"
      }
    },
    "/email_templates/{id}/copy": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "summary": "Create a copy of an existing email template"
      }
    },
    "/email_templates/{id}/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an email template embed to edit an existing email template"
      }
    },
    "/businesses/{id}/email_templates/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Create an email template embed to create a brand new email template"
      }
    },
    "/email_template_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `EmailTemplateEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve an email template embed"
      }
    },
    "/email_template_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML that will render a UI for editing the email template",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed the email template editor",
        "security": [

        ]
      }
    },
    "/email_templates/{id}/draft_send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "The ID of the email address to send from"
                  },
                  "to": {
                    "type": "string",
                    "description": "The email address to send to"
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Variables to use in the email template"
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `DraftEmail` representing what would have been sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftEmail"
                }
              }
            }
          }
        },
        "summary": "Draft send an email based off an email template"
      }
    },
    "/email_templates/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "The ID of the email address from which to send the email"
                  },
                  "to": {
                    "type": "string",
                    "description": "The email address to send the email to"
                  },
                  "variables": {
                    "description": "The variables to be injected into the email template"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The content of the attachment as a data url, e.g. 'data:image/png;base64,abcd1234'"
                        },
                        "name": {
                          "type": "string",
                          "description": "The intended name of the attachment"
                        }
                      },
                      "required": [
                        "content",
                        "name"
                      ]
                    },
                    "description": "An array of attachments to include with the email"
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email that was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          }
        },
        "summary": "Send an email based off an email template"
      }
    },
    "/email_addresses/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the email",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "The email address to send the email to"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body of the email"
                  }
                },
                "required": [
                  "to",
                  "subject",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sent `Email` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          }
        },
        "summary": "Send an email"
      }
    },
    "/project_email_addresses/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email address",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "The email address to send the email to"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body of the email"
                  }
                },
                "required": [
                  "to",
                  "subject",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sent `Email` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          }
        },
        "summary": "Send an email from a project email address"
      }
    },
    "/businesses/{id}/sms_templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `sms_templates` property which is an array of `SMSTemplate` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sms_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SMSTemplate"
                      },
                      "description": "An array of SMS templates"
                    }
                  },
                  "required": [
                    "sms_templates"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all SMS templates for a business"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the SMS template"
                  },
                  "message": {
                    "type": "string",
                    "description": "The message of the SMS template. Variables are supported via `{{ variableName }}`"
                  }
                },
                "required": [
                  "name",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Create an SMS template"
      }
    },
    "/sms_templates/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Retrieve an SMS template"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the SMS template"
                  },
                  "message": {
                    "type": "string",
                    "description": "The message of the SMS template. Variables are supported via `{{ variableName }}`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Update an SMS template"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `SMSTemplate` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSTemplate"
                }
              }
            }
          }
        },
        "summary": "Delete an SMS template"
      }
    },
    "/sms_templates/{id}/draft_send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the SMS template",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "The ID of the phone number to send the SMS from"
                  },
                  "to": {
                    "type": "string",
                    "description": "The phone number to send the SMS to"
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Variables to use in the email template"
                  }
                },
                "required": [
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `DraftSMSMessage` representing what would have been sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftSMSMessage"
                }
              }
            }
          }
        },
        "summary": "Draft send an SMS message from an SMS template"
      }
    },
    "/project_phone_numbers/{id}/send": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The message of the SMS template. Variables are supported via `{{ variableName }}`"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An `SMSMessage` representing the sent message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSMessage"
                }
              }
            }
          }
        },
        "summary": "Send an SMS message from a project's phone number"
      }
    },
    "/businesses/{id}/campaigns": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a `campaigns` property which is an array of `Campaign` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      },
                      "description": "An array of campaigns"
                    }
                  },
                  "required": [
                    "campaigns"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all campaigns"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the campaign"
                  },
                  "enrolled_customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ID of the customers enrolled in the campaign"
                  },
                  "steps": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "email"
                              ],
                              "description": "The step type. Always \"email\" for this step"
                            },
                            "email_template_id": {
                              "type": "string",
                              "description": "The ID of the email template to use in this step"
                            },
                            "subject": {
                              "type": "string",
                              "description": "The subject of the email template to use at this step"
                            },
                            "body": {
                              "type": "string",
                              "description": "The body of the email template to use at this step"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "sms"
                              ],
                              "description": "The step type. Always \"sms\" for this step"
                            },
                            "sms_template_id": {
                              "type": "string",
                              "description": "The ID of the SMS template to use in this step"
                            },
                            "message": {
                              "type": "string",
                              "description": "The message to send in this step"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "wait"
                              ],
                              "description": "The step type. Always \"wait\" for this step"
                            },
                            "duration": {
                              "type": "integer",
                              "description": "The number of seconds to wait"
                            }
                          },
                          "required": [
                            "type",
                            "duration"
                          ]
                        }
                      ]
                    },
                    "description": "The steps of the campaign"
                  },
                  "email_address": {
                    "type": "string",
                    "nullable": true,
                    "description": "The email address used to send emails in the campaign. Will be the ID of an email-like object"
                  },
                  "phone_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "The phone number used to send SMS messages in the campaign. Will be the ID of a phone number-like object"
                  }
                },
                "required": [
                  "name",
                  "enrolled_customers",
                  "steps"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `Campaign` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "summary": "Create a campaign"
      }
    },
    "/businesses/{id}/campaigns/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `CampaignEmbed` object. Can be used to create a new campaign for the business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEmbed"
                }
              }
            }
          }
        },
        "summary": "Create a campaign embed to create a new campaign"
      }
    },
    "/campaigns/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `Campaign` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "summary": "Retrieve a campaign"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "steps": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "email"
                              ],
                              "description": "The step type. Always \"email\" for this step"
                            },
                            "email_template_id": {
                              "type": "string",
                              "description": "The ID of the email template to use in this step"
                            },
                            "subject": {
                              "type": "string",
                              "description": "The subject of the email template to use at this step"
                            },
                            "body": {
                              "type": "string",
                              "description": "The body of the email template to use at this step"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "sms"
                              ],
                              "description": "The step type. Always \"sms\" for this step"
                            },
                            "sms_template_id": {
                              "type": "string",
                              "description": "The ID of the SMS template to use in this step"
                            },
                            "message": {
                              "type": "string",
                              "description": "The message to send in this step"
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "wait"
                              ],
                              "description": "The step type. Always \"wait\" for this step"
                            },
                            "duration": {
                              "type": "integer",
                              "description": "The number of seconds to wait"
                            }
                          },
                          "required": [
                            "type",
                            "duration"
                          ]
                        }
                      ]
                    },
                    "description": "The updated steps of the campaign. Can be omitted"
                  },
                  "name": {
                    "type": "string",
                    "description": "The updated name of the campaign. Can be omitted"
                  },
                  "enrolled_customers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The updated enrolled customer IDs of the campaign. Can be omitted"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated `Campaign` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "summary": "Update a campaign"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `Campaign` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "summary": "Delete a campaign"
      }
    },
    "/campaigns/{id}/start": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `Campaign` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "summary": "Start a campaign"
      }
    },
    "/campaigns/{id}/stop": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `Campaign` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        },
        "summary": "Stop a campaign"
      }
    },
    "/campaigns/{id}/embeds": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The created `CampaignEmbed` object. Can be used to modify the campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEmbed"
                }
              }
            }
          }
        },
        "summary": "Create a campaign embed"
      }
    },
    "/campaign_embeds/{id}/show": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The embeddable HTML that will render a UI for editing the campaign",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Embed the campaign editor"
      }
    },
    "/campaign_embeds/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign embed",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A `CampaignEmbed` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEmbed"
                }
              }
            }
          }
        },
        "summary": "Retrieve a campaign embed"
      }
    },
    "/project_email_domains": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `project_email_domains` property which is an array of `ProjectEmailDomain` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_email_domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectEmailDomain"
                      },
                      "description": "An array of project email domains"
                    }
                  },
                  "required": [
                    "project_email_domains"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project email domains"
      }
    },
    "/project_email_domains/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email domain",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `ProjectEmailDomain` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEmailDomain"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project email domain"
      }
    },
    "/project_email_domains/{id}/project_email_addresses": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email domain",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a `project_email_addresses` property which is an array of `ProjectEmailAddress` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_email_addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectEmailAddress"
                      },
                      "description": "An array of project email addresses"
                    }
                  },
                  "required": [
                    "project_email_addresses"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project email addresses for the project domain"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email domain",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_address": {
                    "type": "string",
                    "description": "The email address"
                  },
                  "display_name": {
                    "type": "string",
                    "nullable": true,
                    "description": "The readable name of the email address"
                  }
                },
                "required": [
                  "email_address",
                  "display_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created `ProjectEmailAddress` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEmailAddress"
                }
              }
            }
          }
        },
        "summary": "Create a new project email address"
      }
    },
    "/project_email_addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "An object with key `project_email_addresses` which maps to an array of `ProjectEmailAddress` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_email_addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectEmailAddress"
                      },
                      "description": "An array of project email addresses"
                    }
                  },
                  "required": [
                    "project_email_addresses"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project email addresses"
      }
    },
    "/project_email_addresses/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project email address",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `ProjectEmailAddress` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEmailAddress"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project email address"
      }
    },
    "/project_phone_numbers": {
      "get": {
        "responses": {
          "200": {
            "description": "A dictionary with a `project_phone_numbers` property which is an array of `ProjectPhoneNumber` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_phone_numbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectPhoneNumber"
                      },
                      "description": "An array of project phone numbers"
                    }
                  },
                  "required": [
                    "project_phone_numbers"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all project phone numbers"
      }
    },
    "/project_phone_numbers/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project phone number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The `ProjectPhoneNumber` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPhoneNumber"
                }
              }
            }
          }
        },
        "summary": "Retrieve a project phone number"
      }
    },
    "/employees/{id}/email_addresses": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with an `email_addresses` property which is an array of `ConnectedEmailAddress` objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email_addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConnectedEmailAddress"
                      },
                      "description": "An array of connected email addresses"
                    }
                  },
                  "required": [
                    "email_addresses"
                  ]
                }
              }
            }
          }
        },
        "summary": "List all connected email addresses for an employee"
      }
    },
    "/employees/{id}/email_addresses/connect/gmail": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the employee",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML page for the OAuth flow to connect the Gmail account",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Connect a Gmail to an employee",
        "security": [

        ]
      }
    },
    "/email_addresses/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the connected email address",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An `EmailAddress` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedEmailAddress"
                }
              }
            }
          }
        },
        "summary": "Retrieve a connected email address"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the connected email address",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted `ConnectedEmailAddress` object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedEmailAddress"
                }
              }
            }
          }
        },
        "summary": "Delete a connected email address"
      }
    }
  },
  "security": [
    {
      "HttpBasicAuth": [

      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "HttpBasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "Business": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the business"
          },
          "name": {
            "type": "string",
            "description": "The name of the business"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "title": "The Business object"
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the campaign"
          },
          "name": {
            "type": "string",
            "description": "The name of the campaign"
          },
          "enrolled_customers": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            ],
            "description": "The customers enrolled in the campaign"
          },
          "steps": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "email"
                      ],
                      "description": "The step type. Always \"email\" for this step"
                    },
                    "email_template_id": {
                      "type": "string",
                      "description": "The ID of the email template to use in this step"
                    },
                    "subject": {
                      "type": "string",
                      "description": "The subject of the email template to use at this step"
                    },
                    "body": {
                      "type": "string",
                      "description": "The body of the email template to use at this step"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "sms"
                      ],
                      "description": "The step type. Always \"sms\" for this step"
                    },
                    "sms_template_id": {
                      "type": "string",
                      "description": "The ID of the SMS template to use in this step"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message to send in this step"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "The step type. Always \"wait\" for this step"
                    },
                    "duration": {
                      "type": "integer",
                      "description": "The number of seconds to wait"
                    }
                  },
                  "required": [
                    "type",
                    "duration"
                  ]
                }
              ]
            },
            "description": "The steps of the campaign"
          },
          "email_address": {
            "type": "string",
            "nullable": true,
            "description": "The email address used to send emails in the campaign. Will be the ID of an email-like object"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "The phone number used to send SMS messages in the campaign. Will be the ID of a phone number-like object"
          },
          "status": {
            "type": "string",
            "description": "The status of the campaign. One of \"started\", \"stopped\", or \"finished\""
          }
[...]
